svg {
    width: 30px;
    height: 30px;
}

.beneficio-img {
    height: 60px;
    width: 60px;
}

.beneficio-max-width {
    max-width: 210px;
}

.bg-white-opacity {
    background-color: rgba(217, 217, 217, 0.6);
}

.img-presentacion {
    background-image: url('./img/caroline-sada.webp');
    background-size: cover;
    background-position: center;
}

#subscribe {
    min-width: 250px;
}

@media screen and (max-width: 1024px) {
    #form-subscribe {
        text-align: center !important;

        .input-subscribe {
            text-align: center !important;
        }

        .button-subscribe {
            width: 100%;
        }
    }
}